<div class="dating_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="authPanel" *ngIf="stepCount == 0">
					<form [formGroup]="authForm">
						<div class="form-group">
							<label for="inputName" class="worthyTitle">Please Prove That You Are Worthy <img
									src="../assets/images/thor.png" alt="" srcset=""></label>
							<input type="text" class="form-control" id="inputName" placeholder="Enter Your Name"
								formControlName="name" onchange="clearErrors()">
							<div *ngIf="notMayuri" class="notMayuri">
								Oh, you're not <b>HER</b>. Let me think 🤔💭. No, sorry, I am not interested!😒
							</div>
						</div>
						<div class="button_wrap">
								<button class="fixButton" type="button"  (click)="scheduleAuth()" >
									<strong>Verify me 🕵️</strong>
									<div id="container-stars">
									  <div id="stars"></div>
									</div>
									<div id="glow">
									  <div class="circle"></div>
									  <div class="circle"></div>
									</div>
								  </button>
						</div>
					</form>
				</div>
				<div class="validDate" *ngIf="validDate">
					<h3>You Are Still Worthy!!!</h3>
					<img src="https://media.tenor.com/t0CjD7C-mL8AAAAi/love-you-i-love-you.gif" alt="" srcset="">
				</div>

				<div class="animation1" *ngIf="stepCount == 1">
					<h3>
						Would you like to go out on date with me ?
					</h3>
						<div class="imagediv">
							<img src="https://media.tenor.com/SFy5Za0DyMEAAAAi/erm-fingers.gif" alt="" srcset="" *ngIf="!ifNo && ifNoCount == 0">
							<img src="https://media.tenor.com/9OwvNBNmK7MAAAAi/kawaii-cute.gif" class="ifNo" *ngIf="ifNo && ifNoCount == 1">
							<img src="https://media.tenor.com/NxTUjh0DgNEAAAAi/fake-tears-eye-drop.gif" class="ifNo" *ngIf="ifNo && ifNoCount == 2">
						</div>
						<div class="buttons_wrapper">
							<button id="yesButton" (click)="agreedate()">YES
								<div class="star-1">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="25" height="25">
										<path fill="#fd1853" d="M427.313,88.686c-47.803-47.803-125.213-47.803-173.016,0l-17.087,17.087l-17.087-17.087
									c-47.803-47.803-125.213-47.803-173.016,0c-47.803,47.803-47.803,125.213,0,173.016l190.103,190.103
									c4.88,4.88,11.316,7.322,17.752,7.322c6.435,0,13.871-2.442,18.751-7.322l190.103-190.103
									C475.116,213.899,475.116,136.489,427.313,88.686z"></path>
									</svg>
	
	
								</div>
								<div class="star-2">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
										<path fill="#fd1853" d="M427.313,88.686c-47.803-47.803-125.213-47.803-173.016,0l-17.087,17.087l-17.087-17.087
									c-47.803-47.803-125.213-47.803-173.016,0c-47.803,47.803-47.803,125.213,0,173.016l190.103,190.103
									c4.88,4.88,11.316,7.322,17.752,7.322c6.435,0,13.871-2.442,18.751-7.322l190.103-190.103
									C475.116,213.899,475.116,136.489,427.313,88.686z"></path>
									</svg>
	
								</div>
								<div class="star-3">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="9" height="9">
										<path fill="#fd1853" d="M427.313,88.686c-47.803-47.803-125.213-47.803-173.016,0l-17.087,17.087l-17.087-17.087
									c-47.803-47.803-125.213-47.803-173.016,0c-47.803,47.803-47.803,125.213,0,173.016l190.103,190.103
									c4.88,4.88,11.316,7.322,17.752,7.322c6.435,0,13.871-2.442,18.751-7.322l190.103-190.103
									C475.116,213.899,475.116,136.489,427.313,88.686z"></path>
									</svg>
	
								</div>
								<div class="star-4">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="10" height="10">
										<path fill="#fd1853" d="M427.313,88.686c-47.803-47.803-125.213-47.803-173.016,0l-17.087,17.087l-17.087-17.087
									c-47.803-47.803-125.213-47.803-173.016,0c-47.803,47.803-47.803,125.213,0,173.016l190.103,190.103
									c4.88,4.88,11.316,7.322,17.752,7.322c6.435,0,13.871-2.442,18.751-7.322l190.103-190.103
									C475.116,213.899,475.116,136.489,427.313,88.686z"></path>
									</svg>
	
								</div>
								<div class="star-5">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
										<path fill="#fd1853" d="M427.313,88.686c-47.803-47.803-125.213-47.803-173.016,0l-17.087,17.087l-17.087-17.087
									c-47.803-47.803-125.213-47.803-173.016,0c-47.803,47.803-47.803,125.213,0,173.016l190.103,190.103
									c4.88,4.88,11.316,7.322,17.752,7.322c6.435,0,13.871-2.442,18.751-7.322l190.103-190.103
									C475.116,213.899,475.116,136.489,427.313,88.686z"></path>
									</svg>
	
								</div>
								<div class="star-6">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="7" height="7">
										<path fill="#fd1853" d="M427.313,88.686c-47.803-47.803-125.213-47.803-173.016,0l-17.087,17.087l-17.087-17.087
									c-47.803-47.803-125.213-47.803-173.016,0c-47.803,47.803-47.803,125.213,0,173.016l190.103,190.103
									c4.88,4.88,11.316,7.322,17.752,7.322c6.435,0,13.871-2.442,18.751-7.322l190.103-190.103
									C475.116,213.899,475.116,136.489,427.313,88.686z"></path>
									</svg>
	
								</div>
							</button>
							<button id="noButton" (click)="noaction()">NO
								<div class="star-1">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
								  </div>
								  <div class="star-2">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
								  </div>
								  <div class="star-3">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
								  </div>
								  <div class="star-4">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
								  </div>
								  <div class="star-5">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
								  </div>
								  <div class="star-6">
									<svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 784.11 815.53" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><defs></defs><g id="Layer_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><path d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z" class="fil0"></path></g></svg>
								  </div>
							</button>
						</div>
				</div>

				<div class="animation1" *ngIf="stepCount == 2">
					<h3>
						Lets Decide The Date 📆
					</h3>
					<div class="imagediv">
						<img src="https://media.tenor.com/Vr2yfv6wtMoAAAAi/%E5%90%83-%E5%90%83%E8%B4%A7.gif" alt="" srcset="" *ngIf="saidYes">
					</div>
					<div class="buttons_wrapper">
						<div class="select_wrap">
							<select [(ngModel)]="selectedDay" name="day" id="day">
							  <option disabled selected>Select Day</option>
							  <option *ngFor="let day of days" [value]="day">{{ day }}</option>
							</select>
						</div>
					  
						<div class="select_wrap">
							<select [(ngModel)]="selectedMonth" name="month" id="month">
							  <option disabled selected>Select Month</option>
							  <option *ngFor="let month of months" [value]="month">{{ month }}</option>
							</select>
						</div>
					  
						<div class="select_wrap">
							<select [(ngModel)]="selectedYear" name="year" id="year">
							  <option disabled selected>Select Year</option>
							  <option *ngFor="let year of years" [value]="year">{{ year }}</option>
							</select>
						</div>
					  </div>
					  <div class="buttons_wrapper">
						<button class="fixButton" type="button" (click)="thankYou()">
							<strong>Fix It ✅</strong>
							<div id="container-stars">
							  <div id="stars"></div>
							</div>
						  
							<div id="glow">
							  <div class="circle"></div>
							  <div class="circle"></div>
							</div>
						  </button>
					  </div>
				</div>

				<div class="animation1" *ngIf="stepCount == 3">
					<h3>
						Thank You!
					</h3>
					<div class="imagediv">
						<img src="https://media.tenor.com/6C4aWv4xsTYAAAAi/dancing.gif" alt="">
					</div>
				</div>

				<div class="animation1" *ngIf="stepCount == 4">
					<h3>
						Better Luck Next Time...
					</h3>
					<div class="imagediv">
						<img src="https://media.tenor.com/RO8XklEk1uoAAAAi/sad-mochi-mochi-peach-cat-gif.gif" alt="">
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="footer">
		Made With ❤️
	</div>
</div>